body {
    font-family: Arial, sans-serif;
    background-color: rgb(184, 184, 184);
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-box {
    background-color: white;
    padding: 20px;
    width: 350px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
h1 {
    color: #1877f2;
    font-size: 32px;
    margin-bottom: 20px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: blue;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: blue;
}
.forgot-password {
    margin-top: 10px;
}
.forgot-password a {
    color: blue;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}
.divider {
    margin: 20px 0;
    text-align: center;
    color: lightgray;
}
.create-account {
    background-color: rgb(0, 255, 0);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}
.create-account:hover {
    background-color: green;
}