.inline { 
    width: 200 px;
    border: 5;
    display: inline;
}
.block {
    border: 5;
    width: 200 px;
    display: block;
}
.inline-block {
    border: 5;
    width: 200 px;
    display: inline-block;
}